# [submodule "swe-bench"]
# 	path = swe-bench
# 	url = git@github.com:princeton-nlp/SWE-bench.git

[submodule "SWE-bench"]
	path = SWE-bench
	url = git@github.com:seal-research/SWE-bench.git

[submodule "multi-swe-bench"]
	path = multi-swe-bench
	url = git@github.com:seal-research/multi-swe-bench.git
